body {
    padding: 0;
    margin: 0;
    box-sizing: 16px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background: rgba(78, 189, 254, 1);
    background: -moz-linear-gradient(left, rgba(78, 189, 254, 1) 0%, rgba(59, 152, 224, 1) 53%, rgba(59, 152, 224, 1) 54%, rgba(55, 144, 217, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78, 189, 254, 1)), color-stop(53%, rgba(59, 152, 224, 1)), color-stop(54%, rgba(59, 152, 224, 1)), color-stop(100%, rgba(55, 144, 217, 1)));
    background: -webkit-linear-gradient(left, rgba(78, 189, 254, 1) 0%, rgba(59, 152, 224, 1) 53%, rgba(59, 152, 224, 1) 54%, rgba(55, 144, 217, 1) 100%);
    background: -o-linear-gradient(left, rgba(78, 189, 254, 1) 0%, rgba(59, 152, 224, 1) 53%, rgba(59, 152, 224, 1) 54%, rgba(55, 144, 217, 1) 100%);
    background: -ms-linear-gradient(left, rgba(78, 189, 254, 1) 0%, rgba(59, 152, 224, 1) 53%, rgba(59, 152, 224, 1) 54%, rgba(55, 144, 217, 1) 100%);
    background: linear-gradient(to right, rgba(78, 189, 254, 1) 0%, rgba(59, 152, 224, 1) 53%, rgba(59, 152, 224, 1) 54%, rgba(55, 144, 217, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1);
    padding-top: 60px;
    padding-bottom: 150px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}


/* Header styles */

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content {
    width: 506px;
}

.header__button {
    background: #ffd429;
    text-decoration: none;
    padding: 20px 0px;
    text-align: center;
    width: 220px;
    display: block;
}

.header__title {
    color: white;
    line-height: 1.3em;
    font-size: 33px;
}

.header__title span {
    font-size: 54px;
    line-height: 1.5em;
}

.header__paragraph {
    line-height: 1.5em;
    width: 400px;
    color: white;
    margin-bottom: 50px;
    font-family: 'OpenSans', sans-serif;
}


/* */


/* Main content styles */

.main-content {
    padding-top: 100px;
    padding-bottom: 120px;
}

.main-content__title {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.main-content__skills {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.main-content__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content__paragraph {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 0;
    width: 275px;
    text-align: center;
}

.main-content__time {
    padding-bottom: 10px;
}


/* Order styles */

.order {
    background: #ecf3f8;
    padding: 100px 0px;
}

.order__title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 30px;
}

.order__form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.order__form input {
    font-family: 'Ubuntu';
    font-weight: 400;
    margin-bottom: 15px;
    width: 350px;
    padding: 15px 25px;
}

.order__button {
    background: #ffd429;
    text-decoration: none;
    padding: 20px 0px;
    text-align: center;
    width: 350px;
    display: block;
}


/* */


/* footer styles */

footer {
    padding: 60px 0px;
    background: #164d7a;
}

.footer__paragraph {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-style: 14px;
}


/* */


/* Responsive */

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .header__wrapper {
        flex-direction: column;
        align-items: unset;
    }
    .header__content {
        display: flex;
        flex-direction: column;
    }
}

.header__image2 {
    display: none;
}

.parallax {
    display: flex;
}

@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .main-content__skills {
        flex-direction: column;
    }
    .main-content__skill {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .header__image {
        display: none;
    }
    .header__image2 {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .header__title {
        color: white;
        line-height: 1.3em;
        font-size: 18px;
    }
    .header__content {
        width: 290px;
    }
    .header__paragraph {
        width: 290px;
    }
    .order__form input {
        width: 290px
    }
    .order__button {
        width: 290px;
    }
    .main-content__title {
        text-align: center;
    }
    .footer__paragraph {
        text-align: center;
    }
    .order__title {
        text-align: center;
    }
}